@font-face {
    font-family: "BEYNO";
    src: url("./font/FontsFree-Net-BEYNO.ttf");
}
@font-face {
    font-family: "Panthera";
    src: url("./font/PantheraRegular-MVZ9J.ttf");
}
@font-face {
    font-family: "Cantarell";
    src: url("./font/Cantarell-Regular.ttf");
}
@font-face {
    font-family: "WakandaForever";
    src: url("./font/WakandaForever-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --White-color:#fff;
    --Gray-color:#f2cef2;
    --Violet-color:#9e91b7;
    --Rose-color:#df99f2;
    --Bleu1-color:#3d2da6;
    --Bleu2-color:#07338c;
    --bleu3-color:#021740;

}

/* design général */
body{
    background-image: url("./Illustrations/Logo/arrière_plan.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    width: 80%;
    margin: auto;   
}
h1{
    font-family: "Panthera";
    font-size: 58px;
    color: var(--Violet-color);
}
h2{
    font-family: "BEYNO";
    font-size: 22px;
    color: var(--Violet-color);
}

h3,h4{
    font-family: "Cantarell";
    color: #3d2da6;
}
p{
    font-family: "Cantarell";
    font-size: 16px;
    color: #fff;
    padding: 20px 0;
    text-align: justify;
}
a{
    color: #fff;
}


/* design header */
header .logo_header a{
    text-decoration: none;
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    height: 100px;
    margin: auto;
}
.menu ul li{
    display: inline-block;
    text-decoration: none;
}
.menu ul li a{
    text-decoration: none;
    font-family:"BEYNO" ;
    color: #fff;
    margin: 10px;
}

/* design main */

/* design section hero */
#hero .hero{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#hero .blackp a{
    /* border: #fff 1px solid; */
    
}
#hero .hero_img{
    /* border: #fff 1px solid; */
    height: 600px;
    width: 600px;
}
#hero .hero_img img{
    height: 600px;
    width: 600px;
}

/* design section card */
#card{
    margin-bottom: 50px;
}
#card .card{
    display: flex;

    
    
}

/* #card .div1_card1 img{
    height: 348px;
    width: 200px;
} */
#card .card .div1{
    display: flex;
    border: #fff 1px solid;
    background-color: var(--bleu3-color);
    /* height: 348px; */

}
#card .card .div2{
    display: flex;
    border: #fff 1px solid;
    background-color: var(--bleu3-color);
    /* height: 348px; */
}

/* design section tchalla */
#tchalla .tchalla{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}



/* design section protecteur */
#protecteur .justicier{
    display: flex;
}


/* design formulaire */
#formulaire{
    height: 800px;
}
#formulaire .formulaire{
    background-image: url(./Illustrations/Accueil/Pantherhome7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#formulaire .formulaire{
    display: flex;
    align-items: center;
    justify-content: center;
}

#formulaire .formulaire .contact{
    border: #fff 1px solid;
    width: 600px;
    text-align: center;
    padding: 30px;
    border-radius: 50px;
    background: linear-gradient(top,#fff, 20%, #9e91b7);
}

#formulaire .formulaire .contact button{
    width: 174px;
    height: 54px;
    padding: 10px 0;
    color: #df99f2;
    border-radius: 38px;
}

#formulaire .formulaire .contact h2{
    margin-bottom: 20px;
}

#formulaire .formulaire .contact input{
    width: 520px;
    height: 56px;
    padding: 10px;
    border-radius: 38px ;
}

#formulaire .formulaire .contact textarea{
    width: 520px;
    height: 156px;
    padding: 10px;
    border-radius: 38px ;
}


/* design footer */
footer{
    background-image: url(./Illustrations/Logo/back_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: #fff;
}
.footer, .footer .footer_text{
    display: flex;
    justify-content: space-between;
}
footer .footer .footer_text{
    align-items: center;
    width: 50%;
}
footer .footer_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Illustrations/Logo/footer1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    width: 50%;
}
footer .footer_text ul li a{
    text-decoration: none;
    color: #fff;
    font-family: "Cantarell";   
}
footer .footer_text ul li{
    display: block;
    text-decoration: none;
}

footer .footer_text h2{
    text-decoration: none;
    font-family: "Cantarell" ;
    font-size: 16px;
    letter-spacing: 0.28em;
}
footer .icon_footer img{
    padding: 5px;
}
footer p{
    text-align: right;
    font-family: "Cantarell" ;
    font-size: 10px;
    /* border: #fff 1px solid; */
    margin-right: 22%;
    padding-bottom: 60%;
}




