@font-face {
    font-family: "BEYNO";
    src: url("./font/FontsFree-Net-BEYNO.ttf");
}
@font-face {
    font-family: "Panthera";
    src: url("./font/PantheraRegular-MVZ9J.ttf");
}
@font-face {
    font-family: "Cantarell";
    src: url("./font/Cantarell-Regular.ttf");
}
@font-face {
    font-family: "WakandaForever";
    src: url("./font/WakandaForever-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --White-color:#fff;
    --Gray-color:#f2cef2;
    --Violet-color:#9e91b7;
    --Rose-color:#df99f2;
    --Bleu1-color:#3d2da6;
    --Bleu2-color:#07338c;
    --bleu3-color:#021740;

}

/* design général */
body{
    background-image: url("./Illustrations/Logo/arrière_plan.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    margin: auto;
    width: 80%;
}
h1{
    font-family: "Panthera";
    font-size: 68px;
}
h2{
    font-family: "BEYNO";
    font-size: 32px;
}
p{
    font-family: "Cantarell";
    font-size: 16px;
    padding: 20px 0;
    text-align: justify;
}


/* design header */
header .logo_header a{
    text-decoration: none;
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    height: 100px;
    margin: auto;
}
.menu ul li{
    display: inline-block;
    text-decoration: none;
}
.menu ul li a{
    text-decoration: none;
    font-family:"BEYNO" ;
    color: #fff;
    margin: 10px;
}

/* design section hero */


/* design section origine */
#origine .origin_culte{
    display: flex;
}



/* design section cinema */
#cinema .cine_afro{
    display: flex;
}


/* design footer */
footer{
    background-image: url(./Illustrations/Logo/back_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: #fff;
}
.footer, .footer .footer_text{
    display: flex;
    justify-content: space-between;
}
footer .footer .footer_text{
    align-items: center;
    width: 50%;
}
footer .footer_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Illustrations/Logo/footer1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    width: 50%;
}
footer .footer_text ul li a{
    text-decoration: none;
    color: #fff;
    font-family: "Cantarell";   
}
footer .footer_text ul li{
    display: block;
    text-decoration: none;
}

footer .footer_text h2{
    text-decoration: none;
    font-family: "Cantarell" ;
    font-size: 16px;
    letter-spacing: 0.28em;
}
footer .icon_footer img{
    padding: 5px;
}
footer p{
    text-align: right;
    font-family: "Cantarell" ;
    font-size: 10px;
    /* border: #fff 1px solid; */
    margin-right: 22%;
    padding-bottom: 60%;
}




